#ampm{color:#3779d0;}
#bookmarkssearch{color:#3575cc;}
#date{color:#3779d0;}
#time{color:#3779d0;}
#toolssearch{color:#3575cc;}
.time{color:#1c4a7c;}
.toolinput{color:#3575cc;}
::placeholder{color:#1c4a7c;}
a:hover{color:#3575cc;}
a{color:#1c4a7c;}
body{background-color:#171e2b;background-image:url(Images/firewatch_night.jpg);}
dialog{color:#3575cc;}
th{color:#3575cc;}