#ampm{display:inline-block;font-family:Verdana;font-size:48px;}
#bookmarkssearch{background-color:rgba(0,0,0,0);border:0;font-size:24px;padding:12px 20px 12px 40px;width:100%;}
#date{font-family:Verdana;font-size:48px;margin-left:70px;margin-top:720px;position:absolute;}
#time{display:inline-block;font-family:Verdana;font-size:84px;}
#toolssearch{background-color:rgba(0,0,0,0);border:0;font-size:24px;padding:12px 20px 12px 40px;width:100%;}
.realignment{left:-21px;position:relative;}
.structuretd{height:105vh;vertical-align:top;}
.structureth{vertical-align:top;width:50vw;}
.timecontainer{margin-left:60px;margin-top:640px;position:absolute;}
.timetable{width:200px;}
.toolinput{background-color:rgba(0,0,0,0);border:0;font-size:20px;width:400px;}
::-webkit-scrollbar{display:none;}
a,div,input,li,table,td,th,tr,ul{outline:0px;user-select:none;}
a{font-size:24px;letter-spacing:3px;text-decoration:none;}
body{-webkit-font-smoothing:antialiased;background-repeat:no-repeat;background-size:100vw;color:#000;font-family:arial,sans-serif;margin:0px;}
dialog{background-color:rgba(0,0,0,.7);border:0px;position:fixed;}
hr{display:inline-block;width:auto;}
img{height:32vh;}
input::-webkit-inner-spin-button{display:none;margin:0;}
li{display:inline;list-style-type:none;}
table{border-spacing:0;width:100%;}