#ampm{color:#e84632;}
#bookmarkssearch{color:#f6803c;}
#date{color:#e84632;}
#time{color:#e84632;}
#toolssearch{color:#f6803c;}
.time{color:#c32c3b;}
.toolinput{color:#f6803c;}
::placeholder{color:#c32c3b;}
a:hover{color:#f6803c;}
a{color:#c32c3b;}
body{background-color:#2e112d;background-image:url(Images/firewatch_day.jpg);}
dialog{color:#f6803c;}
th{color:#f6803c;}