#addbookmark{
	right:0;
}
#ampm{
	font-size:4vw;
	position:relative;
	top:-5.39vw;
}
#charge{
	background-image:linear-gradient(to right,#f00,#0f0);
	background-size:100vw;
	height:.6vw;
	left:0;
	position:absolute;
	top:0;
	z-index:2;
}
#date{
	font-size:4vw;
}
#removebookmark{
	left:0;
}
#time{
	font-size:9vw;
	position:relative;
	top:-2vw;
}
.hidebody{
	display:none;
}
.hidebutton{
	bottom:-10vh;
}
.hidefooter{
	bottom:-6vh;
}
.hidepercentage{
	right:-10vw;
}
.time{
	left:0;
	padding:.5vw 0 0 .5vw;
	position:absolute;
	top:0;
}
a:link{
	color:#fff;
}
a:visited{
	color:#fff;
}
a:hover{
	color:#fff;
	text-decoration:overline;
}
a:active{
	color:#fff;
}
a{
	font-size:2vw;
	letter-spacing:.1vw;
	padding:0 .6vw 0 0;
	text-decoration:none;
	text-shadow:0 0 5px #000;
}
body{
	-webkit-font-smoothing:antialiased;
	background-color:#888;
	background-image:url("https://picsum.photos/2560/1600");
	background-size:100%;
	color:#fff;
	display:flex;
	font-family:Philosopher;
	justify-content:center;
	margin:0;
	overflow:hidden;
	text-align:left;
	text-shadow:0 0 5px #000;
	user-select:none;
}
button{
	text-shadow:0 0 5px #000;
	background:transparent;
	border:0;
	bottom:-.7vw;
	color:#fff;
	cursor:pointer;
	font-size:5vw;
	outline:none;
	position:fixed;
	transition:.4s;
}
footer{
	bottom:0;
	height:5vh;
	position:fixed;
	transition:.4s;
}
header{
	text-shadow:0 0 5px #000;
	font-size:4vw;
	right:0;
	padding:.5vw .5vw 0 0;
	position:absolute;
	top:0;
	transition:.4s;
	z-index:1;
}